.idea/
.idea

**/.idea/**
**/.idea

.vs/
.vs

Makefile

.vscode/
.vscode

**/bin/**
**/bin

bin/
bin

bin-int/
bin-int

**/bin-int/**
**/bin-int

Debug/
Debug

**/Debug/**
**/Debug

cmake-build-debug/
cmake-build-debug

*.sln
*.db
*.opendb
*.vcxproj
*.vcxproj.user
*.vcxproj.filters

*.log